.DS_Store
# Model checkpoints
*.ckpt
*.pth
*.pt

# Training outputs
/experiments/set3QuadPathStacked
/experiments/set3TriPathStacked
/experiments/set3UNet
/src/data/BundleTripathTrain.sh
/src/data/train_tripath_array.sbatch
/src/data/preprocess.sh
/src/data/train_tripath_array.sbatch